# Исключаем виртуальное окружение
venv/

# Исключаем файлы кеша Python
__pycache__/
*.pyc
*.pyo

# Исключаем файлы IDE (PyCharm, VS Code и др.)
.idea/
.vscode/

# Исключаем логи и временные файлы
*.log
.DS_Store
