{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}HOT{% endblock %}

{% block header %}{% include 'layouts/header_not_auth.html' %}{% endblock %}

{% block content %}


<div class="main-content">
    <!-- Левая колонка: New Questions -->
    <h2 class="me-5" style="display: inline;">HOT QUESTIONS</h2>
    <a href="{% url 'home' %}" class="mb-3" style="display: inline-block;">NEW QUESTIONS</a>

    {% for question in questions %}
        {% include 'layouts/question.html' %}
    {% endfor %}

    {% include 'layouts/paggination.html' %}

</div>
{% endblock %}
