{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}INDEX{% endblock %}

{% block header %}{% include 'layouts/header_not_auth.html' %}{% endblock %}

{% block content %}

<div class="main-content">
    <!-- Левая колонка-->
    <h2 class="me-5" style="display: inline;">{{ question.title }}</h2>

    {% include 'layouts/question.html' %}

    {% for answer in answers %}
    {% include 'layouts/answer.html' %}
    {% endfor %}


    <div class="d-flex justify-content-around align-items-center mb-3">
            <textarea class="form-control" placeholder="Enter your answer here" id="text_input"
                      style="height: 200px"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Answer</button>

    {% include 'layouts/paggination.html' %}

</div>

{% endblock %}
